@font-face { 
    font-family: Nanami; 
    src: url('rsrc/fonts/Nanami-Light.otf');
}
@font-face { 
    font-family: Nanami-bold; 
    src: url('rsrc/fonts/Nanami-Regular.otf');
    font-style: bold;
}
@font-face { 
    font-family: Profont; 
    src: url('rsrc/fonts/profontwindows-webfont.ttf')
    format('truetype');
    font-weight: normal;
    font-style: normal;
    
}
@font-face { 
    font-family: Profont; 
    src: url('rsrc/fonts/ProFontWindows-Bold.ttf')
    format('truetype');
    font-weight: bold;
    font-style: bold;
}

body, a, .reveal {
    
    color: #F50641;
}

body {
    
    background-color: #000000;
    font-family: 'Nanami', 'Helvetica', sans-serif;
    margin: 0px;
    padding: 15px;
}

h1 {
    font-size: 3.750em;
    line-height: 0.15;
    margin-top: .55em;
    display: inline-block;
    width:50%;
    position: relative;
    right: .02em;
    font-kerning: normal;
}
h2 {
    font-family: 'Nanami-bold';
    font-size: 1.875em;
    margin-top: 0;
    margin-bottom: 1em;
}
h3{
    letter-spacing: 2px;
    font-family: 'Nanami-bold';
    font-size: 1.25em;
    margin-top: 0.07em;
    margin-bottom: 8px;
}
a {
    text-decoration: none;
}
a:hover, .reveal:hover {
    text-decoration: underline;
}
.reveal:hover {cursor:pointer;}

a.albumDL {
    text-align-last: justify;
    text-align: justify;
    font-family: 'Nanami-bold';
    border-bottom: 2px solid #F50641; 
    font-size: 1.25em;
    letter-spacing: 2px;
   /* vertical-align: bottom; */
    position: absolute;
    bottom: 0;
    padding-bottom: 0;
    /* right:0; */
    -webkit-transition-duration: 0.05s;
    transition-duration: 0.05s;
    -webkit-transition-property: padding-bottom;
    -webkit-transition-property: border-bottom;
    transition-property: padding-bottom;
    transition-property: border-bottom;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}


a.albumDL:hover, a.albumDL:focus, a.albumDL:active {
    
    padding-bottom: 3px;
    border-bottom: 4px solid #F50641;
    text-decoration: none;
}

svg {
    display: block;
    padding: 0;
}
.albumDL {
    
    text-align: justify; width:100%
}

.content {
    
    width:450px;
    margin-right: 15px;
}
#HeadNav {
    display: inline-block;
    width: 100%;
}
#socialPanel {
    display: block;
    width: 92.36%;
    margin-right: auto;
    height: 2em;
    margin-left: auto;
    white-space: nowrap;
}
.socialIcons {
    padding-right: 0.175em;
    margin: auto;
    font-size: 0.833em;
    display: inline-table;
    line-height: 1;
}
.socialLinks {
    display: inline-block;
    font-size: 1.875em;
    letter-spacing: .0668em;
    bottom: 0;
    padding-bottom: 0;
    margin-left: 15px;
    margin-right: 15px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition-duration: 0.05s;
    transition-duration: 0.05s;
    -webkit-transition-property: padding-bottom;
    -webkit-transition-property: border-bottom;
    transition-property: padding-bottom;
    transition-property: border-bottom;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.socialLinks:hover, .socialLinks:focus, .socialLinks:active {
    padding-bottom: 0px;
    border-bottom: 2px solid #F50641;
    text-decoration: none;
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
}
.hr {
    margin-top: 30em;
    margin-bottom: 30em;
    border-bottom: 1em solid #F50641;
    font-size: 1px;
}

.vr {
    height: 30px;
    position: relative;
    top: 4px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: auto;
    margin-bottom: auto;
    display: inline-table;
    border-right: 1px solid #F50641;
}
.album-art {
    display: block;
    width: 50%;
    border: 1px solid rgba(0, 0, 0, 0);
    float:left;
}
.album-margin {
    display: inline-block;
    width: 47%;
    height: 227px;
    float:right;
    position: relative
}
.album-info {
    font-family: 'Profont', Courier, monospace;
    line-height: 1.4em;
    text-align: left;

}

.alignRight {
    
    text-align: right;
    float: right;
    display: inline;
}

.alignLeft {
    
    text-align: left;
    float: left;
    display: inline;
    letter-spacing: .04em;
    font-size: 1.1em;
    font-weight: bold;
}

#killsound {
    
    font-family: 'Profont', Courier, monospace;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.2em;
    position: fixed;
    top: .5em;
    right: .5em;
    z-index: 3;
    text-decoration: none;
    text-shadow: 0px 3px 5px #000, 0px -3px 5px #000, 0px 0px 5px #000, 0px 0px 10px #001;

}

.reveal {
    font-family: 'Nanami', Helvetica, sans-serif;
    background: 0;
    border:0;
    outline: none;
    margin-top: 1.2em;
    letter-spacing: 2px;
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.centertext{
    
}
.traklist {
    overflow: hidden;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 450px;
}
.release {
    display:inline-block;
    padding-bottom: 30px;
}

.release-wrapper {
    display: inline-table;
}

#cs80 {
    margin:0; 
    display:block;
    width:100%;
    background-image: url("rsrc/img/CS80.svg");
    background-repeat: no-repeat;
    margin:0;
    /* padding: 0 0 .1em .05em; */
    overflow: hidden;
    /* margin-top:2em; */
    transition: filter .2s cubic-bezier(0.42, 0, 0, 1);
}




#bandcampPlaylist {filter: contrast(161%) brightness(137%) saturate(93%) hue-rotate(-8deg);}

#contact { 
     margin-bottom: .5em;
}

#emailMargin {
    margin-top: .5em;
    display: block;
    position: relative;
    width:100%;
    
    
}

.mailListing {
    display:block;
    width:90%;
    line-height: 2em;
    font-family: 'Profont', Courier, monospace;
    margin-left: auto;
    margin-right: auto;
}

#emailLeftColumn {
    display:inline-block;
    font-size: 1.06em;
    text-align: justify;
    text-align-last: justify;
    max-width: 50%;
    
}

#emailRightColumn {
    display:inline-block;
    font-size: 1em;
    max-width:60%;
    float:right;
    
    
}
.mailDesc {
   font-weight: bold;
}
.mailto {
    text-decoration: underline;
    float: right;
    font-size: 1em;
}

/*dumb crt glow shit  dumb crt glow shit  dumb crt glow shit*/

img#headGraphic {
    display: inherit;
    position: relative;
    z-index: -2;
    width: 100%;
    -moz-image-rendering: crisp-edges;
         /*image-rendering: pixelated;*/
         image-rendering: optimizeSpeed;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    box-shadow: 0px 0px 40px 7px rgba(193, 2, 37, 0.24);
    -webkit-box-shadow: 0px 0px 40px 7px rgba(193, 2, 37, 0.24);
    transition: all .3s cubic-bezier(0.42, 0, 0, 1);
    -webkit-transition: all .3s cubic-bezier(0.42, 0, 0, 1);
    
    
}

.ShadowMask {
    display: inherit;
    position: relative;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    transition: all .3s cubic-bezier(0.42, 0, 0, 1);
    -webkit-transition: all .3s cubic-bezier(0.42, 0, 0, 1);
            box-shadow: inset 0px 0px 40px 15px rgba(20,0,0,.7);
    -webkit-box-shadow: inset 0px 0px 40px 15px rgba(20,0,0,.7);
}
.Halation {
            display: block;
            position: relative;
            border-radius: 30px;
    -webkit-border-radius: 30px;
    
    transition: all .2s ease-out; /* cubic-bezier(0.42, 0, 0, 1); */
    -webkit-transition: all .2s ease-out; /* cubic-bezier(0.42, 0, 0, 1); */
    
}

.Halation:hover {
            border-radius: 30px;
    -webkit-border-radius: 30px;
            filter: blur(1.6px) saturate(.4)contrast(1.15)brightness(2);
    -webkit-filter: blur(1.6px) saturate(.4)contrast(1.15)brightness(2);

}
.Halation:hover .ShadowMask {
            border-radius: 30px;
    -webkit-border-radius: 30px;
            box-shadow: inset 0px 0px 45px 20px rgba(20,0,0,.78);
    -webkit-box-shadow: inset 0px 0px 45px 20px rgba(20,0,0,.78);
}
.Halation:hover img#headGraphic {
            border-radius: 30px;
    -webkit-border-radius: 30px;
            image-rendering: pixelated;
            box-shadow: 0px 0px 60px 10px rgba(181, 8, 36, 0.4);
    -webkit-box-shadow: 0px 0px 60px 10px rgba(181, 8, 36, 0.4);

}

h1 {text-shadow: 0px 0px 20px rgba(245, 6, 66, 0.5);}

h2, h3, a.socialLinks {text-shadow: 0px 0px 20px rgba(245, 6, 66, 0.66);}

a.albumDL {text-shadow: 0px 0px 22px rgba(245, 6, 66, 0.81);}

.hr, .vr {box-shadow: 0px 0px 11px 7px rgba(245,6,66,0.15);}

.album-info {text-shadow: 0px 0px 14px rgba(245, 6, 66, 0.9);}